:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #F5F5F5;
    --logo-color: #000000;
    --primary-white-title-color: #FFFFFF;
    --primary-dark-color: #2F303A;
    --background-color: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
}
 
/*   logo   */

.header-logo .logo-part {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header-logo {
    color: var(--logo-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*   header   */

.header {
    background-color: var(--primary-white-title-color);
}

.header-list .link {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-list .link:hover,
.header-list .link:focus,
.header-list .link.current {
    color: var(--accent-color);
}

.header-contacts .link.mail,
.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacts .link {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*   order section   */

.btn {
    cursor: pointer;
    font-family: inherit;
}

.order {
    background-color: var(--primary-dark-color);
}
.order .order-title {
    color: var(--primary-white-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order .btn {
    color: var(--primary-white-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/*   features section   */

.features,
.do {
    background-color: var(--primary-white-color);
}

.features .features-title {
    opacity: 0;
}
.features-item .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-item .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*   do section   */

.do-title, .team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*   team section   */

.team {
    background-color: var(--background-color);
 }

.team-title-list .name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-title-list .description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/*portfolio section*/

.portfolio .portfolio-title {
    opacity: 0;
}

.portfolio {
    background-color: var(--primary-white-color)
}

.portfolio-filter .btn {
    color: var(--title-text-color);
    background-color: var(--background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
    color:var(--primary-white-title-color);
    background-color: var(--accent-color);
}


.portfolio .image-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/*   footer section   */

.footer {
    background-color: var(--primary-dark-color);
}

.footer-logo .logo-part {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo {
    color: var(--primary-white-title-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer .link {
    color: var(--primary-white-title-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}
.footer .link:hover, .footer .link:focus, 
.footer .footer-mail:hover, .footer .footer-mail:focus,
.footer .footer-tel:hover, .footer .footer-tel:focus {
    color: var(--accent-color);
}

.footer .footer-mail, .footer-tel {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71;
    letter-spacing: 0.03em;
}
